.vs/
*.sln
*.suo
*.user
*.userprefs
*.log
*.vspscc
*.vssscc
*.csproj
*.resx
*/obj/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
bin/

# NuGet
*.nuget/
*.nupkg/
*.snupkg
/packages/

# Other files and folders
[Dd]ebug*/ 
*.bak 
*.cache 
*.dll 
*.exe 
*.tmp 
*.tmp_proj 
*.userprefs
*.dbmdl
*.pdb 
*.ipch/
*.bak
*.suo
[Tt]humbs.db
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.wsdl
*.wsp
*.webinfo
*.dll.config
*.pubxml
*.publishproj
*.cache
*.datasource
*.pch
*.vspx